<div class="sub_top_menu">
    <h4 class="page_title">@@title</h4>
    <h6 class="page_sub_title">@@sub_title</h6>
    <!-- menu_item 해당 페이지 active 클래스 추가 -->
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="fm_su_wf.html">패밀리 스위트 월풀</a></li>
        <li class="menu_item"><a href="fm_su.html">패밀리 스위트</a></li>
        <li class="menu_item"><a href="dx_fm.html">디럭스 패밀리</a></li>
        <li class="menu_item"><a href="dx_tw.html">디럭스 트윈</a></li>
    </ul>
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="sp_db.html">슈페리어 더블</a></li>
        <li class="menu_item"><a href="st_tw.html">스텐다드 트윈</a></li>
        <li class="menu_item"><a href="st_db.html">스텐다드 더블</a></li>
    </ul>
</div>