@@include('src/template/include/_head.html')

<link rel="stylesheet" type="text/css" href="http://design.ebiznetworks.co.kr/lhc/sealake.com/static/css/jquery.bxslider.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/jquery.bxslider.css"/> -->

<script type="text/javascript" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/static/js/init.js"></script>
<!-- <script type="text/javascript" src="/static/js/init.js"></script> -->

</head>

<body class="page-home">

    @@include('src/template/include/_header.html')

    <div class="main">
        <!-- 190917 날씨 추가 (190905 전달본) : 멀티클래스 추가 -->
        <div class="weather vid">
            <div class="area">
                <div class="inner">
                    <span class="s-1">2019.01.22 (화)</span>
                    <span class="s-2">강원의 오늘 <span class="t-1">▷</span> 맑음</span>
                    <span class="s-3"><span class="big">7</span><span class="c">℃</span></span>
                    <span class="s-4">
                        <img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/weather/finedust.png" alt="미세먼지">
                        <span class="txt-dust">미세먼지 - <span class="grade">보통</span></span>
                    </span>
                </div>
                <img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/weather/clear.png" alt="날씨">
            </div>
        </div>
        <!-- //.weather -->
        <section class="slider_section main-visual">
            <div id="slider_main" class="slider_container smain">
                <div data-u="slides" class="slides">
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_01.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_06.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_02.jpg" alt="인투라온호텔사진" /></div>
                    <!-- <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_03.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_04.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_05.jpg" alt="인투라온호텔사진" /></div> -->
                </div>
                <span u="arrowleft" class="jssor-sprite arow-left" style="width: 21px; height: 32px; top: 200px; left: 20px;"></span>
                <span u="arrowright" class="jssor-sprite arow-right" style="width: 21px; height: 32px; top: 200px; right: 20px"></span>
            </div>
            <div id="slider_mmain" class="slider_container mob">
                <div data-u="slides" class="slides">
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/m/main/bg_01.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/m/main/bg_06.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/m/main/bg_02.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/m/main/bg_03.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/m/main/bg_04.jpg" alt="인투라온호텔사진" /></div>
                    <div><img data-u="image" class="main-visibility" src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/m/main/bg_05.jpg" alt="인투라온호텔사진" /></div>
                </div>
                <span u="arrowleft" class="jssor-sprite arow-left" style="width: 21px; height: 32px; top: 200px; left: 20px;"></span>
                <span u="arrowright" class="jssor-sprite arow-right" style="width: 21px; height: 32px; top: 200px; right: 20px"></span>
            </div>

            <div class="vid-txt-box">
                <div class="vid-txt">
                    <a href="javascript:;" class="more-btn"><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bg_main_txt.png" alt="자세한 정보 보기" class="more-btn-img"></a>
                    <!-- <a href="http://hotelairsky.co.kr/reserve/" class="book-btn hidden-mdlg"><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/bt_main_reserv.png" alt="실시간 객실예약" class="book-btn-img"></a> -->
                </div>
            </div>
        </section>

        <section id="mainRest" class="body_section">
            <div class="main_reservation">
                <div class="container">
                    <ul class="inputs ">
                        <li>
                            <span>실시간 객실예약</span>
                        </li>
                        <li>
                            <div class="date_input">
                                <input type="input" name="checkIn" value="2019-06-18" placeholder="Check in" readonly />
                                <i class="icon-12"></i>
                            </div>
                        </li>
                        <li>
                            <div class="date_input">
                                <input type="input" name="checkOut" value="2019-06-19" placeholder="Check out" readonly />
                                <i class="icon-12"></i>
                            </div>
                        </li>
                        <li>
                            <button type="button" onclick="on_submit()">객실 알아보기</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="notice-sec">
            <h1 class="sr-only">인투라온호텔 토픽 및 공지사항</h1>
            <div class="group">
                <div class="topic-wrap">
                    <div class="topic-header">
                        <div class="title">
                            <a href="#none" class="link nope">
                                <span class="c-theme2 fw-b">SEALAKE TOPIC</span>
                                <span class="hidden-smxs c-black">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/icon/ico_sb.png" alt="설명" class="ico-sb">
                                    <span class="sm">동해의 프리미엄, 속초 씨레이크호텔로 초대합니다.</span>
                                </span>
                                <div class="ico-plus-cont theme">
                                    <div class="ico-wrap">
                                        <div class="ico-container">
                                            <div class="ico-body">
                                                <span class="ico-bar"></span>
                                                <span class="ico-bar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="topic-body">
                        <div class="title hidden-mdlg c-black">
                            <a href="#none" class="nope">
                                <img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/icon/ico_sb.png" alt="설명" class="ico-sb">
                                <span class="sm">동해의 프리미엄, 속초 씨레이크호텔로 초대합니다.</span>
                            </a>
                        </div>
                        <div class="bx-box">
                            <ul class="bx-s fnBxSlider">
                                <li class="item"><a href="javascript:;" class="nope"><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/topic_01.jpg" alt="호텔사진"></a></li>
                                <li class="item"><a href="javascript:;" class="nope"><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/topic_02.jpg" alt="호텔사진"></a></li>
                                <li class="item"><a href="javascript:;" class="nope"><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/topic_03.jpg" alt="호텔사진"></a></li>
                                <li class="item"><a href="javascript:;" class="nope"><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/topic_04.jpg" alt="호텔사진"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="notice-wrap">
                    <div class="notice-header">
                        <div class="title c-theme2 fw-b">
                            <!-- <a href="/brd/lists/notice.html" class="link"> -->
                            <a href="javascript:;" onclick="alert('준비중입니다.')" class="link">
                                <span class="c-theme2 fw-b">NOTICE</span>
                                <div class="ico-plus-cont theme">
                                    <div class="ico-wrap">
                                        <div class="ico-container">
                                            <div class="ico-body">
                                                <span class="ico-bar"></span>
                                                <span class="ico-bar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="notice-body">
                        <ul class="notice-list">
                            <!-- <li><a href="brd/view/notice/1550.php">[알림] 객실정비 품질 향상 및 개선 안내</a></li> -->
                            <!-- <li><a href="">[알림] 씨레이크 공식홈페이지 오픈</a></li> -->
                            <li>[알림] 씨레이크 공식홈페이지 오픈</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="rooms-sec child-ft-ntss">
            <div class="sec-header sec-header-type1">
                <h1 class="title c-theme">ACCOMMODATION</h1>
                <p class="subtitle">호텔의 품격이 완벽하게 조화된 품격 있는 휴식 공간</p>
            </div>
            <div class="group">
                <div class="rooms-wrap">
                    <ul class="rooms-list">
                        <li class="rooms-item">
                            <a href="./rooms/fm_su_wf.html" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/room_01.jpg" alt="패밀리 스위트 월풀"></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">패밀리 스위트 월풀</span>
                                    <span class="sm c-gray">FAMILY SUITE WHIRLPOOL</span>
                                    <div class="desc">
                                        여유롭고 특별한 시간, 넓은 거실과 월풀 욕조의 특별함<br class="hidden-mdlg">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/fm_su.html" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/room_02.jpg" alt="패밀리 스위트"></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">패밀리 스위트</span>
                                    <span class="sm c-gray">FAMILY SUITE</span>
                                    <div class="desc">
                                        거실과 침실의 공간분리, 기능까지 완비된 안락함<br class="hidden-mdlg">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/dx_fm.html" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/room_03.jpg" alt="디럭스 패밀리"></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">디럭스 패밀리</span>
                                    <span class="sm c-gray">DELUXE FAMILY</span>
                                    <div class="desc">
                                        더블과 싱글배드의 조합, 편의와 실용적인 구성<br class="hidden-mdlg">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/dx_tw.html" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/room_04.jpg" alt="디럭스 트윈"></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">디럭스 트윈</span>
                                    <span class="sm c-gray">DELUXE TWIN</span>
                                    <div class="desc">
                                        더블과 싱글침대로 구성, 캐쥬얼하고 안락한 공간연출<br class="hidden-mdlg">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/st_tw.html" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/room_05.jpg" alt="스텐다드 트윈"></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">스텐다드 트윈</span>
                                    <span class="sm c-gray">STANDARD TWIN</span>
                                    <div class="desc">
                                        싱글배드 2개를 제공, 개인공간 활용으로 구성<br class="hidden-mdlg">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <a href="./rooms/sp_db.html" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/room_06.jpg" alt="슈페리어 더블"></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">슈페리어 더블</span>
                                    <span class="sm c-gray">SUPERIOR DOUBLE</span>
                                    <div class="desc">
                                        더블배드를 제공, 편안한 인테리어가 조화로운 공간<br class="hidden-mdlg">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sec-header sec-header-type1">
                <h1 class="title c-theme">DINING &amp; FACILITY</h1>
                <p class="subtitle">프리미엄 레스토랑, 다양한 시설에서 편안함을 더해드립니다.</p>
            </div>
            <div class="group">
                <div class="facil-wrap">
                    <ul class="rooms-list">
                        <li class="rooms-item">
                            <!-- <a href="./dining/restaurant.html" class="link"> -->
                            <a href="javascript:;" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/facil_01.jpg" alt=""></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">고메팔래스</span>
                                    <span class="sm c-gray">Restaurant</span>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <!-- <a href="./dining/irishall.html" class="link"> -->
                            <a href="javascript:;" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/facil_02.jpg" alt=""></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">파스쿠치</span>
                                    <span class="sm c-gray">Cafeteria</span>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <!-- <a href="./facilities/jade.html" class="link"> -->
                            <a href="javascript:;" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/facil_03.jpg" alt=""></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">연회장</span>
                                    <span class="sm c-gray">Banquet Hall</span>
                                </div>
                            </a>
                        </li>
                        <li class="rooms-item">
                            <!-- <a href="./facilities/orchid.html" class="link"> -->
                            <a href="javascript:;" class="link">
                                <div class="content">
                                    <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/facil_04.jpg" alt=""></figure>
                                </div>
                                <div class="title cf">
                                    <span class="lg">이마트24</span>
                                    <span class="sm c-gray">Convenience</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="surroundings-content">
                <div class="sec-header sec-header-type1">
                    <h1 class="title c-theme">SURROUNDINGS</h1>
                    <p class="subtitle">호텔과 인접한 주요 관광지와 문화 시설입니다.</p>
                </div>
                <div class="group">
                    <div class="facil-wrap surroundings-wrap">
                        <ul class="rooms-list">
                            <li class="rooms-item">
                                <!-- <a href="./tourist/index.html" class="link"> -->
                                <a href="javascript:;" class="link">
                                    <div class="content">
                                        <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/surround_01.jpg" alt=""></figure>
                                    </div>
                                    <div class="text">
                                        ■ 속초해수욕장<br>
                                        차량 3분 소요 (1.5km 거리)
                                    </div>
                                </a>
                            </li>
                            <li class="rooms-item">
                                <!-- <a href="./tourist/index.html" class="link"> -->
                                <a href="javascript:;" class="link">
                                    <div class="content">
                                        <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/surround_02.jpg" alt=""></figure>
                                    </div>
                                    <div class="text">
                                        ■ 속초중앙시장<br>
                                        도보 5분 소요 (600미터 거리)
                                    </div>
                                </a>
                            </li>
                            <li class="rooms-item">
                                <!-- <a href="./tourist/index.html" class="link"> -->
                                <a href="javascript:;" class="link">
                                    <div class="content">
                                        <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/surround_03.jpg" alt=""></figure>
                                    </div>
                                    <div class="text">
                                        ■ 설악산국립공원<br>
                                        차량 20분  소요 (9km 거리)
                                    </div>
                                </a>
                            </li>
                            <li class="rooms-item">
                                <!-- <a href="./tourist/index.html" class="link"> -->
                                <a href="javascript:;" class="link">
                                    <div class="content">
                                        <figure><img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/main/surround_04.jpg" alt=""></figure>
                                    </div>
                                    <div class="text">
                                        ■ 동명항<br>
                                        차량 5분 소요 (1.6km 거리)
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    

    @@include('src/template/include/_footer.html')



    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(function () {
            $(".fnBxSlider").bxSlider({
                // mode: 'fade',
                auto: true,
                autoControls: false,
                speed: 500,
                duration: 6000,
                touchEnabled: false //이미지 하나여서 터치 스와이프 막음
            });
        });
    </script>
    <!-- 팝업 -->
    @@include('src/template/include/popup/_pop_event.html')
</body>

</html>