<ul class="terms-list">
    <li class="hidden-smxs"><a href="@@basePath/main/about/index.html">회사소개</a></li>
    <li class="l hidden-smxs">|</li>
    <li class="hidden-smxs"><a href="@@basePath/main/map/index.html">찾아오시는 길</a></li>
    <li class="l hidden-smxs">|</li>
    <li><a href="@@basePath/main/access.html">이용약관</a></li>
    <li class="l">|</li>
    <li><a href="@@basePath/main/policy.html">개인정보취급방침이용약관</a></li>
    <li class="l">|</li>
    <li><a href="@@basePath/main/email.html">이메일무단수집금지</a></li>
</ul>