<!-- 190910 메인 + 영상이 있을경우 vid 멀티클래스 추가 -->
<!-- <header class="header"> -->
<header class="header">
    <div class="ajax_loader b_hide">
        <div>
            <img src="http://design.ebiznetworks.co.kr/lhc/sealake.com/img/loader/loading.gif" />
            <p>처리 요청 중입니다.</p>
        </div>
    </div>
    <div class="image_view_container">
        <div class="view">
            <i class="icon-10 img-remove"></i>
        </div>
    </div>

    <div class="gnb">            
        @@include('src/template/include/_header_menu.html',{"basePath":" "})
        <!-- @include('src/template/include/_header_menu.html',{"basePath":"http://design.ebiznetworks.co.kr/lhc/sealake.com"})         -->
    </div>
</header>

<div class="body"></div>
<br class="br_sub">