<ul class="cf menu">
    <li>
        <a class="title click-none" href="@@bassPath/main/about/index.html">호텔소개</a>
        <ul class="sub">
            <li><a href="@@basePath/main/about/index.html">호텔 소개</a></li>
            <li><a href="@@basePath/main/map/index.html">오시는 길</a></li>
            <!-- <li><a href="/brd/lists/notice.html">공지사항</a></li>
            <li><a href="/tourist/index.html">주변 관광지</a></li> -->
            <li><a href="javascript:;" onclick="alert('준비중입니다.')">공지사항</a></li>
            <li><a href="javascript:;" onclick="alert('준비중입니다.')">주변 관광지</a></li>
        </ul>
    </li>
    <li>
        <a class="title click-none" href="/rooms/royal_su.html" >객실안내</a>
        <ul class="sub">
            <li><a href="@@basePath/rooms/royal_su.html">로얄 스위트</a></li>
            <li><a href="@@basePath/rooms/executive_su.html">이그제큐티브 스위트</a></li>
            <li><a href="@@basePath/rooms/junior_su.html">패밀리 스위트</a></li>
            <li><a href="@@basePath/rooms/pr_fm.html">프리미어 패밀리</a></li>
            <li><a href="@@basePath/rooms/dx_db.html">디럭스 더블</a></li>
            <li><a href="@@basePath/rooms/dx_tw.html">디럭스 트윈</a></li>
            <li><a href="@@basePath/rooms/dx_fm_tw.html">디럭스 패밀리 트윈</a></li>
            <li><a href="@@basePath/rooms/dx_ondol.html">디럭스 온돌</a></li>
            <li><a href="@@basePath/rooms/sp_tw.html">슈페리어 트윈</a></li>
            <li><a href="@@basePath/rooms/sp_db.html">슈페리어 더블</a></li>
        </ul>
    </li>
    <li>
        <a class="title click-none" href="javascript:;" onclick="alert('준비중입니다.')"  >다이닝</a>
        <!-- <ul class="sub">
            <li><a href="/dining/restaurant.html">바바체 레스토랑</a></li>
            <li><a href="/dining/irishall.html">아이리스홀</a></li>
        </ul> -->
    </li>
    <li>
        <a class="title click-none" href="javascript:;" onclick="alert('준비중입니다.')"  >부대시설</a>
        <!-- <a class="title click-none" href="/facilities/jade.html"  >부대시설</a> -->
        <!-- <ul class="sub">
            <li><a href="/facilities/jade.html">제이드홀</a></li>
            <li><a href="/facilities/orchid.html">오키드룸</a></li>
            <li><a href="/facilities/athen.html">아테네가든</a></li>
            <li><a href="/facilities/lobby.html">로비라운지</a></li>
            <li><a href="/facilities/fitness.html">휘트니스센터</a></li>
        </ul> -->
    </li>
    <li>
        <a href="javascript:;" onclick="alert('준비중입니다.')" class="title">단체문의</a>
        <!-- <a href="/group/index.html" class="title">단체문의</a> -->
    </li>
    <li>
        <a href="javascript:;" onclick="alert('준비중입니다.')" class="title">장기/단기 숙박</a>
        <!-- <a href="/rent/index.html" class="title">장기/단기 숙박</a> -->
    </li>
    <li>
        <a href="javascript:;" onclick="alert('준비중입니다.')" class="title">이벤트/축제</a>
        <!-- <a href="/event/index.html" class="title">이벤트/축제</a> -->
    </li>
    <li>
        <a href="javascript:;" onclick="alert('준비중입니다.')" class="title">주변관광지</a>
        <!-- <a href="/tourist/index.html" class="title">주변관광지</a> -->
    </li>
</ul>