@charset "utf-8";
// --------------
// Scss변수
// --------------
// 폰트
$font-ntss: ("Noto Sans KR", Sans-serif);
$font-nnGothic: ("Nanum Gothic", Sans-serif);
$font-nnSquare: ("Nanum Square", "NanumSquare", Sans-serif);
$font-nnSquareR: ("NanumSquareRound", Sans-serif);

// 주요 폰트 및 벌러
$font-stack: $font-ntss;
$font-color: #222;
$primary-color: #337ab7;
$primary-color-dark: #23527c;


$navline-color: #478EE2;
// $bk-menu-color: #978262;
// $theme-color: #9e7351;
// $main-bg: #e3dcd8;
// $reservation-bar-bg: #765f4e;
// $reservation-bar-btn: #4a3c31;
// $reservation-bar-input: #836f5f;
// $bk-menu-color: #1178BC;
$bk-menu-color: #5789d0;
$theme-color: #00a8ff;
$theme-color2: #2b6bc6;
$main-bg: #f1f1f1;
$reservation-bar-bg: #4e80c7; 
$reservation-bar-btn: #205299;
$reservation-bar-input: #6092d9;

$c-red: #e45000;

// 색상
$fg-blue: #2173e8;

// 배경
$bg-blue: #1178bc;